<!DOCTYPE html>
<html>
    <head>
        <title>EasyEats</title>
    </head>
    <body>
        <h1 style="text-align: center">EASYEATs RESTFUL API</h1>
    <ul>
        <li><a href="/api/getalldata">http://easyeats.heroku-app.com/api/getalldata</a></li>
        <li>http://easyeats.heroku-app.com/api/getalltable</li>
        <li>http://easyeats.heroku-app.com/api/getsingletable?id=table1</li>
        <li>http://easyeats.heroku-app.com/api/getopentables</li>
        <li>http://easyeats.heroku-app.com/api/addfood</li>
        <li>http://easyeats.heroku-app.com/api/finalizebill</li>
        <li>http://easyeats.heroku-app.com/api/setwaiter</li>
    </ul>
    </body>
</html>