#svg-table{
    position: relative;
    top: 11rem;
}

.table:hover{
    transform: scale(2);
}

#test1{
    width:300px;
}



@media (min-width: 1024px) {
    #svg-table{
        left: 26rem;
    }

}

@media (min-width: 955px) and (max-width: 1048px) {
    #svg-table{
        left: 11rem;
    }
}